<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - INFINITE.CORE.MVC</title>
    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        @await Html.PartialAsync("Components/Navbar.cshtml")
        @await Html.PartialAsync("Components/Sidebar.cshtml")
        

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
       
        <!-- /.content-wrapper -->
        @await Html.PartialAsync("_Footer.cshtml")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    
    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
